@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
nav {
  /* color: black; */
  /* position: fixed; */
}
input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 5px;
  border: 2px solid black;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 5px;
  border: 2px solid black;
}

.input-repo {
	width: 50vw;
}

.input-repo input#repo-link {
	color: #333333;
	width: 100%;
	padding: 0.95rem 1.5rem;
	font-family: Inter;
	font-size: 1.2rem;
	font-weight: 200;
	background-color: white;
	border-radius: 14px;
	border: 2px solid rgba(128, 128, 128, 0.12);
}

.input-repo input#repo-link:active,
.input-repo input#repo-link:focus {
	outline: none;
}

.input-repo input#repo-link:placeholder {
	color: white;
}
